body{
    background-color: black;
    color: white;
    font-family: Arial;
    height: 100vh;
    margin: 0;
    padding: 0;
}


#texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;

}